.Button{
    background-color: rgb(203, 177, 228);
    color:rgb(9, 12, 12);
    font-weight: 900;
    font-size: xx-large;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.Button:hover{
    box-shadow: 15px 15px 20px grey;
}
.clicked{
    box-shadow: 5px 5px 20px rgb(17, 189, 123) !important; 
    border:1px solid purple
}